---
import PublicLayout from "@layouts/PublicLayout.astro";
import WrapperLayout from "@layouts/WrapperLayout.astro";
---

<WrapperLayout title="Something went wrong">
	<PublicLayout>
		<main class="main">
			<h1>Something went wrong :(</h1>
			<a href="/">Back to homepage</a>
		</main>
	</PublicLayout>
</WrapperLayout>
