---
import PublicLayout from "@layouts/PublicLayout.astro";
import WrapperLayout from "@layouts/WrapperLayout.astro";
---

<WrapperLayout title="Forgot password">
	<PublicLayout>
		<main class="main">
			<form class="form" id="forgotPasswordForm">
				<label for="email">Your email address</label>
				<input
					type="email"
					class="email"
					placeholder="example@example.com"
					id="email"
					required
				/>
				<button type="submit">Send password reset</button>
			</form>
		</main>
	</PublicLayout>
</WrapperLayout>

<script>
	import { getAuth } from "firebase/auth";
	import { sendPasswordResetEmail } from "firebase/auth";
	import { toast } from "react-toastify";
	import { app } from "@firebase/client";
	import DOMPurify from "dompurify";

	document.addEventListener("astro:page-load", () => {
		const auth = getAuth(app);

		////RESET PASSWORD////

		const forgotPassword = document.querySelector("#forgotPasswordForm");
		const email = document.querySelector<HTMLInputElement>("#email");
		forgotPassword?.addEventListener("submit", async (e) => {
			e.preventDefault();
			try {
				if (!email) {
					toast.error("Please provide an email address");
					return;
				}
				const pureEmail = DOMPurify.sanitize(email.value);
				sendPasswordResetEmail(auth, pureEmail);
				toast.success("Succesfully sent password reset email");
			} catch {
				toast.error("Something went wrong");
			}
		});
	});
</script>
