<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/p/dashboard">Dashboard</a></li>
			<li><a href="/sign-in">Sign in</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</nav>
</header>
<slot />
